# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Lib
!barcodes-7.2.1.jar
!commons-7.2.1.jar
!font-asian-7.2.1.jar
!forms-7.2.1.jar
!hyph-7.2.1.jar
!io-7.2.1.jar
!kernel-7.2.1.jar
!layout-7.2.1.jar
!log4j-1.2.17.jar
!pdfa-7.2.1.jar
!pdftest-7.2.1.jar
!sign-7.2.1.jar
!slf4j-api-1.7.9.jar
!slf4j-log4j12-1.7.9.jar
!styled-xml-parser-7.2.1.jar
!svg-7.2.1.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/eroero/nbproject/private/
/eroero/build/
/TeMaldigoJavaFX/nbproject/private/
/TeMaldigoJavaFX/build/
/FastMobile/dist/